*{
	margin: 0;
	padding: 0;
}
img{
	border: 0;
}
html, body{
	height: 100%;
	position: relative;
	min-width: 995px;
}
body{
	//height: 100%;
	width: 100%;
	background: #e4ecee;
	font-family: Helvetica, Arial, sans-serif;
}
.clear{
	clear: both;
}
#header{
	width: 100%;
	height: 65px;
	background: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0, #304872),
	    color-stop(1, #1f2e4b)
	);
	background: -moz-linear-gradient(
	    center top,
	    #4F6676 0%,
	    #2F4253 100%
	);
	line-height: 65px;
	border-bottom: 3px solid #A3B4BE;
	z-index: 5;
}

#header div.header_links{
	height: 100%;
	margin-left: 50px;
	line-height: 75px;
	font-weight: bold;
	float: left;
	display: block;

/* 	text-align: center; */
/*
	width: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	
*/
/* 	clear: both; */
}

#header div.header_links a{
	height: 100%;
	padding-top: 27px;
	padding-bottom: 19px;
	padding-right: 7px;
	padding-left: 7px;
	color: #EEEEEE;
	text-decoration: none;
	text-shadow: 0px 2px 2px #1f2e4b;
}

#header div.header_links a:hover{
	color: #FFFFFF;
	background: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0, #8e98a9),
	    /*color-stop(1, #888d95)*/
	    color-stop(1, #556278)
	);
	background: -moz-linear-gradient(
	    center top,
	    rgb(30,181,236) 0%,
	    rgb(10, 89, 229) 100%
	);
}

h1 a{
	color: #FFF;
	text-shadow: 0px 2px 0px #0b1f8d;
	font-size: .8em;
	line-height: 65px;
	margin-left: 30px;
	float: left;
	text-decoration: none;
}
#header img{
	margin-top: 12px;
	margin-right: 30px;
	float: right;
}
#nav{
	/*width: 250px !important;
	height: auto !important;
	height: 100%;*/
	min-height: 725px;
	width: 250px;
	display: block;
	position: fixed;
	height: 100%;
	top: 68px;
	left: 0px;
	/*right: 0px;*/
	/*bottom: 0px;*/
	background: #fff;
	border-right: 1px solid #5687a7;
	z-index: 2;
}
#top{
	padding-top: 10px;
	list-style: none;
	/*margin-top: 68px;*/
}
#top li{
	height: 50px;
	line-height: 50px;
	position: relative;
	border-top: 1px solid #d3d3d3;
}
#top li.end{
	border-bottom: 1px solid #d3d3d3;
}
#top li a:hover{
	background: #d4e9f4;
	color: #88aabc;
	text-shadow: 0px 1px 0px #FFF;
}
#top li a{
	position: absolute;
	left: 0px;
	top: 0;
	display: block;
	width: 215px;
	padding-left: 35px;
	height: 50px;
	color: #000;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.2em;
}
#top li a img{
	margin-top: 7px;
}
#top li a span{
	position: absolute;
	top: 0;
	padding-left: 25px;
}
#bottom{
	margin-top: 50px;
}
#bottom li{
	height: 50px;
	line-height: 50px;
	position: relative;
	border-top: 1px solid #d3d3d3;
}
#bottom li.end{
	border-bottom: 1px solid #d3d3d3;
}
#bottom li a:hover{
	background: #d4e9f4;
	color: #88aabc;
	text-shadow: 0px 1px 0px #FFF;
}
#bottom li a{
	position: absolute;
	left: 0px;
	top: 0;
	display: block;
	width: 215px;
	padding-left: 35px;
	height: 50px;
	color: #000;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.2em;
}
#bottom li a img{
	margin-top: 7px;
}
#bottom li a span{
	position: absolute;
	top: 0;
	padding-left: 25px;
}
#content{
	width: 100%;
	min-width: 995px;
	background: transparent !important;
/*
	position: absolute;
	top: 68px;
	left: 0;
*/
	z-index: 1;
}
.lumpy{
/* 	margin-left: 251px; */
}

.belownav {
	background: #ccc;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	margin-top: 0px;
	padding: 4px;
	text-align: center;
	margin-left: 80px;
	margin-right: 80px;
	font-size: 12px;
	color: #333;
}

.belownav a{
	color: #333;
	text-decoration: underline;
}


.junk{
	background: rgba(255, 255, 255, 0.6);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin-top: 20px;
	color: rgba(0,0,0,0.6);
	padding: 25px;
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
}
.junk form{
	margin-top: -25px;
}
.thanks, .news{
	background: rgba(255, 255, 255, 0.6);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin-top: 20px;
	color: rgba(0,0,0,0.6);
	text-align: left;
	padding: 25px;
}
.thanks p{
	padding-bottom: 15px;
}
.thanks ul{
	list-style: none;
}
.thanks ul li{
	margin-bottom: 10px;
}
.epEven{
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
	background: #fff;
	height: 65px;
	line-height: 65px;
	border-top: 1px solid #acacac;
}
.epOdd{
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
	background: #e1e1e1;
	height: 65px;
	line-height: 65px;
	border-top: 1px solid #acacac;
}
.date_row{
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
	background: #304872;
	color:white;
	height: 65px;
	line-height: 65px;
	border-top: 1px solid #acacac;
}
.epBottom{
	width: 100%;
	border-top: 1px solid #acacac;
}
.epNum{
	background: transparent;
	width: 65px;
	text-align: center;
	float: left;
	border-right: 1px solid #acacac;
	margin-right: 25px;
}


.epTitle{
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
/* 	float: left; */
/* 	width: 650px; */
	width: 100%;
/* 	border-right: 1px solid #acacac; */
}
.epTitle a{
	display: block;
/* 	padding-left: 25px; */
	height: 65px;
/* 	width: 625px; */
	padding-left: 25px;
	color: #000;
	text-decoration: none;
}
.epTitle span{
	padding-left: 25px;
	height: 65px;
	width: 625px;
	display: block;
}
.epTitle a:hover{
	background: #d4e9f4;
	color: #88aabc;
	text-shadow: 0px 1px 0px #FFF;
}
.epDate{
	float: left;
	width: 100px;
	height: 65px;
	padding-left: 35px;
}

.epLink a{
	color: #333;
	text-decoration: underline;
}

.epLink a:hover{
	color: #555444;
	text-decoration: none;
}

.showimage { 
 	position:relative;
	border-right: 1px solid #acacac;
	margin-right: 65px;
	height:65px;
	width:352px;
	float:left;
/* 	display:inline; */
}

.siright {
	border-left: 1px solid #acacac;
	float:right;
	margin-right:0px;
}

.showimage img {
	width: 100%;
	height: 100%;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
	z-index: 5;
	display: inline;
}

.imageover {
	width: 100%;
	min-height: 65px;
	position: absolute;
	top: 0;
	left: 0;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
	z-index: 6;
}

.footer {
	display:block;
	font-size:11px;
	margin-left:20px;
	margin-right:20px;
	margin-top:10px;
	margin-bottom:10px;
	background: rgba(255, 255, 255, 0.6);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border: 1px solid #919191;
	color: rgba(0,0,0,0.6);
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
}

.boardlisting {
	position: relative;
	height:30px;
	padding:10px;
	width:inherit;
	display: block;
	overflow: hidden;
}

.evenCategory {
	background: #efefef;
}

.oddCategory {
	background: #D2E1F2;
}

.boardlisting a{
	position: absolute;
	padding:10px;
	left: 0px;
	top: 0;
	#display: block;
	height:30px;
	width:100%;
	color: #000;
	text-decoration:none;
	overflow: hidden;
}

.boardlisting a:hover{
	background:#89CFE3;
}

a.spoiler{
	color: #000;
	text-decoration:underline;
}

.b_link a{
	color: #666;
	text-decoration:none;
}

.breadcrumb a{
	color: #666;
	text-decoration:none;
}

.b_link a:hover{
	text-decoration:underline;
}

.breadcrumb a:hover{
	text-decoration:underline;
}

.m_link a{
	color: #333;
	text-decoration:none;
}

.messagehead a{
	color: #666;
	text-decoration:none;
}
.messagehead a:hover{
	text-decoration:underline;
}


.topiclisting {
	position: relative;
	height:13px;
	line-height:13px;
	padding:5px;
	width:inherit;
	display: block;
	overflow: hidden;
	text-size:13px;
}

.spoiler {
	background: #ddd;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
}

.descriptiondaddy a{
	text-decoration: none;
	color: #000;
}

/* Incase a different stylesheet does this differently or whatever, idk */

.evenTopic {
	background: #efefef;
}

.oddTopic {
	background: #D2E1F2;
}

.topiclisting a{
	position: absolute;
	padding:5px;
	left: 0px;
	top: 0;
	#display: block;
	line-height:13px;
	width:100%;
	color: #000;
	text-decoration:none;
	overflow: hidden;
	font-size:13px;
}

.topiclisting a:hover{
	background:#89CFE3;
}

.userButton {
	padding: 5px 8px 5px 8px;
	margin-top: 10px;
	margin-right: 30px;
	line-height: normal;
	float: right;
	color:#333;
	background:#ccc;
	border:1px solid #232323;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	-khtml-border-radius:7px;
	border-radius:7px;
}

.userButton div {
	width: 100%;	
	text-align: right;
	margin-top: 2px;
	font-size: 11px;
}

.userButton div a {
	color: #555;
	cursor: pointer;
}

.userButton div a:hover {
	color: #996600;
	cursor: pointer;
}

.boardsDaddy {
	margin-left:30px;
	margin-right:40px;
	margin-top:30px;
	display:block;
}

.boardsDaddy h4 {
	text-align:center;
	margin-top:7px;
}

.breadcrumb {
	width:100%;
	font-size:13px;
	font-face:arial;
	padding:7px;
	padding-top:3px;
	padding-bottom:3px;
	border:1px solid black;
	text-align:justify;
}

.catsContainer {
	margin-top:15px;
	width:100%;
	font-size:13px;
	font-face:arial;
	padding:7px;
/* 	padding-bottom:0px; */
	border:1px solid black;
	text-align:justify;
	background:#7FAFFF;
}

.catName {
	background:#ccc;
	border:1px solid #222;
	padding:5px;
	font-size: 15px;
	font-weight: bold;
}

.catSubname, .topicHeads, .messagehead {
	background:#ddd;
	border:1px solid #222;
	border-top:none;
	border-bottom:none;
	padding:5px;
	font-size:11px;
}

.boardsContainer, .theTopics {
	border:1px solid #222;
	background:#efefef;
}

.boardsPost {
	border:1px solid #222;
	border-top:none;
	padding:8px;
	background:#efefef;
}

.boardCell {
	float:right;
	border-left:1px solid black;
	margin-top:-10px;
	margin-right:10px;
	margin-left:-10px;
	line-height:29px;
	padding:10px;
	height:100%;
	min-width:90px;
}

.topicsContainer {
	margin-top:7px;
	width:100%;
	font-size:13px;
	font-face:arial;
	padding:7px;
/* 	padding-bottom:0px; */
	border:1px solid black;
	text-align:justify;
	background:#7FAFFF;
}

.topicsTopNav {
	background:#ccc;
	border:1px solid #222;
	padding:4px;
	text-align:center;
	font-size:13px;
	font-weight:bold;
}

.description_top {
	padding:20px;
	padding-bottom:0px;
	display:block;
	min-height:140px;
}

.description_top img {
	margin-right:15px;
	margin-bottom:0px;
	display:inline-Block;
	width:60%;
	max-width:758px;
	vertical-align: bottom;
}

.showname_box {
	font-size:20px;
	font-weight:bold;
	color:#494949;
	margin-bottom:10px;
	display:block;
	border-bottom: 1px solid #696969;
}

.season_head {
	margin: 20px;
	margin-top: 0px;
}

.season_head a{
	color: #aaa;
	text-decoration: none;
}

.season_head a:hover {
	text-decoration: underline;
}

.description_container {

		background: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0, rgb(201, 215, 254)),
	    color-stop(1, rgb(228, 236, 238))
	);
	background: -moz-linear-gradient(
	    center top,
	    rgb(201, 215, 254) 0%,
	    rgb(228, 236, 238) 100%
	);

}

.mediacells {
	height:332px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;

}

.overview {
	font-size: 12px;
}


.messagebody{
	background:#efefef;
	border:1px solid #222;
	padding:5px;
	font-size:13px;
	word-wrap:break-word;
}

.messagequote {
	margin-left:3px;
	padding-left: 5px;
	border-left: 2px solid red;
}

.mod {
	float:right;
	font-weight: bold;
}

.admin { color: red; }
.globalmod { color: #808000; }
.boardmod { color: navy; }
.showmod { color: teal; }
.odayshowmod { color: #DD60DD; }

#que {
	margin-right:5px;
}

#queclose {
	cursor: pointer;
}

#dimmed {
	clear:both;
	z-index:100;
	position:fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #222;
	background-color: rgba(0,0,0,0.75);
	display: none;
}

#q-bg {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 130px;
	width: 600px;
	border: 1px solid #333;
	-webkit-border-radius: 17px;
	-moz-border-radius: 17px;
	border-radius: 17px;
	box-shadow: 0 0 10px #897e7e;
	background: #e9eaee;
	color: #3d3d3d;
	font: 16px 'Lucida Grande', Arial, sans-serif;
	padding: 11px;
	padding-bottom: 14px;
}

#q-contents {
	margin-top:10px;
	background: #fafafc;
	border: 1px solid #a3a3a3;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 550px;
	height:400px;
	font: normal 13px Arial, monospace;
	line-height: 20px;
	padding: 6px;
	color: #2f2f2f;
	margin-bottom:0px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.queueitem {
	background: #eee;
	border: 1px solid #cecece;
	padding-top:2px;
	color: #474747;
	height: 40px;
	margin-bottom: 6px;
	padding-left:12px;
	cursor: pointer;
}

.queueitem:hover {
	background: #EEF2F7;
}

.queueitem b {
	color: #000;
	//margin-left:-7px;
}

.queueitem input {
	float: right;
	margin: 5px;
	width: 29px;
	height: 29px;
}

#q-contents .queueitem:last-child {
	margin-bottom: 0px;
	display: block;
}

.queueitem .itemindex {
	float: left;
	font-size:21px;
	margin:0px;
	margin-top:-2px;
	margin-left: -12px;
	margin-right: 11px;
	line-height:42px;
	min-width: 24px;
	background: #ccc;
	padding-left: 7px;
	padding-right: 9px;
}

#options {
	text-align: right;
	font-size: 11px;
	margin-top: 4px;
	margin-right: 18px;
}

#removeitems, #selectallitems {
	cursor: pointer;
}

#removeitems:hover, #selectallitems:hover {
	text-decoration: underline;
}

.queueitem .type {
	float:right;
	text-transform: uppercase;
	color: #cdcdcd;
	line-height:40px;
	font-size: 14px;
}

.queueitem span {
	font-size: 11px;
	display: block;
	margin-top: -1px;
}

.addtoqueue {
	font-size:12px;
	background:#ddd;
	border:1px solid #888;
	padding:5px;
	border-radius:6px;
	line-height:6px;
	color:#444;
	cursor: pointer;
}

.addseason {
	float:right;
}

.addep {
	width: 150px;
	margin-bottom: 15px;
}